/********   CONTAINER   **********/
.alcor-container {
	background-color: #FFFFFF;
}
/******** END CONTAINER **********/


/********   HEADER_TOP   **********/
#header-top {
	background-color: #FFFFFF;
	display: none;
}
/******** END HEADER_TOP **********/

/********   HEADER_MENU   **********/
body.admin-bar .navbar-fixed-top {
	top: 32px;
}

.navbar-default {
	border: 0;
	-webkit-box-shadow:0px 4px 2px -2px #e7e7e7;
 	-moz-box-shadow:0px 4px 2px -2px #e7e7e7;
 	box-shadow:0px 4px 2px -2px #e7e7e7;
 	margin-bottom: 0;
 	z-index: 9999;
 	background-color: transparent;
}

.navbar-fade:before {
	opacity: 0.33;
}

.brand-container {
	display: block;
	vertical-align: middle;
}

.navbar-brand {
	height: auto;
	padding: 0 10px;
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.navbar-brand>img.site-logo {
	max-height: 70px;
	/*display: inline-block;*/
}

.navbar-brand-name {
	display: table-cell;
	vertical-align: middle;
}

.navbar-brand-name h1 {
	margin-top: 10px;
	margin-bottom: 0px;
}
/********  END HEADER_MENU  **********/
.alcor-site-branding {
	height: 600px;	
}
#site-header-image .parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/******** MENU **********/
.alcor-menu li {
	border-right: 1px solid #ededed;
	min-height: 71px;
}

.alcor-menu:first-child {
	border-left: 1px solid #ededed;
}

.alcor-menu a {
	text-align: center;
}

.alcor-menu a i {
	display: block;
	font-size: 1.5em;
}








/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
}
/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    height:100%;
    overflow:hidden;
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
    height:auto;
    min-height:100%;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}

